@model IEnumerable<ProjectManager.Models.ProjectTask>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.Parent.Name)
                </td> *@
                <td>
                    <form asp-action="AddTask" asp-route-id="@item.Id" method="post">

                        <input type="submit" value="Add Task" class="btn  btn-outline-primary" />
                        
                    </form>
                    
                </td>
            </tr>
        }
    </tbody>
</table>