@model ProjectManager.Models.ProjectTask


@{
    ViewData["Title"] = "Leave Task";
}


@* 

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This task is a Parent of other sub tasks they must be deleted first
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> *@
<h1>Leave Task</h1>

<h3>Are you sure you want to Leave this Task?</h3>
<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parent.Name)
        </dd>
    </dl>

    @if (Model.SubTasks.Count > 0)
    {

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubTasks)
        </dt>
        <dd class="col-sm-10">

            @{
                var last = Model.SubTasks.Last();
                foreach (var task in Model.SubTasks)
                {
                    if (task == last)
                    {
                        <text>
                            <a class="btn-block" onclick="openTaskDetailsModal(@task.Id)" type="button">
                                @task.Name
                            </a>
                        </text>
                    }
                    else
                    {
                        <text>
                            <a class="btn-block" onclick="openTaskDetailsModal(@task.Id)" style="cursor:pointer;">
                                @task.Name
                            </a> -
                        </text>
                    }

                }
            }

        </dd>
    }
    @if (Model.Users.Count > 0)
    {

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class="col-sm-10">

            @{
                var last = Model.Users.Last();
                foreach (var user in Model.Users)
                {
                    if (user == last)
                    {
                        <text>
                            <a class="btn-block" type="button">
                                @user.UserName
                            </a>
                        </text>
                    }
                    else
                    {
                        <text>
                            <a class="btn-block" style="cursor:pointer;">
                                @user.UserName
                            </a> -
                        </text>
                    }

                }
            }

        </dd>
    }




    <form asp-controller="UserTasks" asp-action="LeaveTaskPost" asp-route-id="@Model.Id" method="post">
        @* <input type="hidden" asp-for="Id" /> *@
        <input type="submit" value="Leave" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>